[submodule "workers/library"]
	path = workers/library
	url = git@github.com:hanstananda/HE_EW_CPP.git
[submodule "Aggregator/library"]
	path = Aggregator/library
	url = git@github.com:hanstananda/HE_EW_CPP.git
[submodule "server/library"]
	path = server/library
	url = git@github.com:hanstananda/HE_EW_CPP.git
